html, body, #root
{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #1c2739;
    font-family: Georgia, "Bitstream Charter", "URW Bookman L", serif;
    line-height: 1.4;
}

.table-dark {
    background-color: #161c2d !important;
}
